@font-face {
    font-family: 'botw';
    src: url(./asset/font/The\ Wild\ Breath\ of\ Zelda.otf);
}
html{
    background: #eee;
}
body{
    margin: 0;
}
canvas{
    background: url(./asset/pic/background.jpg) 50% 50% no-repeat;
    background-size: 1920px 1080px;
}
#play, #play:active{
    transition-timing-function: ease-in-out;
}
#play{
    position: absolute;
    left: 50%;
    bottom: 70%;
    padding: 10px;
    width: 300px;
    height: 150px;
    transform: translateX(-50%);
    background: #ffdc9b;
    border: none;
    box-shadow: 0px 0px 5px 2px #5a5127;
    font-size: 75px;
    border-radius: 10px; 
    font-weight: bold;
    font-family: 'botw', sans-serif;
    letter-spacing: 10px;
    transition: .5s; 
}
#play:hover{
    transform: scale(1.1) translateX(-45%);
}
#play:active{
    transition: .05s;
    transform: scale(1) translateX(-50%);
}   